body {
  font-family: "Lato", sans-serif;
  line-height: 2;
  color: #555555;
}

.upload-button {
  opacity: 0.5;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1000;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.25s ease;
}

.upload-button:hover {
  opacity: 1;
}

/* global */

.wrapper {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 900px;
}

.grid {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

/* hero section */

.hero {
  color: white;
  background-color: black;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: bottom;
}

@-webkit-keyframes colorPulse {
      0% {background-color: black;}
     50% {background-color: red;}
    100% {background-color: #ff9800;}
}

.hero .title {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.hero .title img {
  width: 80%;
  max-width: 350px;
  z-index: 10;
}

.hero .title h3 {
  margin-top: 20px;
}

.color {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 500px;
  opacity: 0.8;
  -webkit-animation-name: colorPulse;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
}

/*.hero-image {
  position: relative;
  background-color: black;
  width: auto;
  height: 1000px;
}*/

/* search */

.search {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.search input {
  font-size: 16px;
  width: 80%;
  max-width: 600px;
  border: none;
  border-bottom: 1px solid #ff9800;
  color: #ff9800;
  padding-bottom: 20px;
  padding-top: 20px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #ff9800;
}

:-ms-input-placeholder {
  color: #ff9800;
}

::-moz-placeholder {
  color: #ff9800;
  opacity: 1;
}

:-moz-placeholder {
  color: #ff9800;
  opacity: 1;
}

/* description */

.description {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}

.description input, .description textarea {
  font-family: "Lato", sans-serif;
  box-sizing : border-box;
  width: 100%;

}

.description input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.description textarea {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.description h3 {
  color: #ff9800;
  padding-bottom: 20px;
  border-bottom: 1px solid #ff9800;
  font-weight: 700;
}

/* footer */

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #ff9800;
}


/* grid */

.games {

}

.games .game {
  margin: 10px;
  width: 280px;
  height: 280px;
  background-color: black;
  opacity: 0.9;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}

.games .game:hover {
  opacity: 1;
}

.games .game:hover h3 {
  visibility: visible;
}

.games .game h3 {
  visibility: hidden;
  text-decoration: none;
  color: white;
  z-index: 1000;
}

/*.games .game img {
  position: absolute;
  height: 100%;
  min-width: 280px;
  min-height: 280px;
  z-index: 0;
}*/


/* search */


/* upload */

.upload {
  border-bottom: 1px solid #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.upload input {
  color: #555555;
}


.submit-button {
  display: block;
  margin-top: 20px;
}

.submit-button a {
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  border-bottom: 1px solid #ff9800;
  color: #ff9800;
}




/**/
