body {
  font-family: "Lato", sans-serif;
  line-height: 2;
  color: #555555;
}

.upload-button {
  opacity: 0.5;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1000;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.25s ease;
}

.upload-button:hover {
  opacity: 1;
}

/* global */

.wrapper {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 900px;
}

.grid {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

/* hero section */

.hero {
  color: white;
  background-color: black;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero .title {
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.hero .title img {
  width: 80%;
  max-width: 350px;
  z-index: 10;
}

.hero .title h3 {
  margin-top: 20px;
}

.color {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 500px;
  opacity: 0.8;
}

/* search */

.search {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.search input {
  font-size: 16px;
  width: 80%;
  max-width: 600px;
  border: none;
  border-bottom: 1px solid #ff9800;
  color: #ff9800;
  padding-bottom: 20px;
  padding-top: 20px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #ff9800;
}

:-ms-input-placeholder {
  color: #ff9800;
}

::-moz-placeholder {
  color: #ff9800;
  opacity: 1;
}

:-moz-placeholder {
  color: #ff9800;
  opacity: 1;
}

/* description */

.description {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}

.description textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.description h3 {
  color: #ff9800;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ff9800;
}

/* footer */

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #ff9800;
}


/* grid */

.games {

}

.games .game {
  margin: 10px;
  width: 280px;
  height: 280px;
  background-color: black;
  opacity: 0.9;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.games .game:hover {
  opacity: 1;
}

.games .game:hover h3 {
  display: block;
}

.games .game h3 {
  display: none;
  text-decoration: none;
  color: white;
}


/* search */


/* upload */

.upload {
  border-bottom: 1px solid #555555;
  padding-top: 10px;
  padding-bottom: 10px;
}

.upload input {
  color: #ff9800;
}




/**/
